<% content_for :meta_description, t('ecm.news.news') %>
<% content_for :title, t('ecm.news.news') %>
<h1><%= t('ecm.news.news') %></h1>

<%= render :partial => 'item_in_list', :collection => @items, :as => :item %>

<%= paginate @items, :theme => 'twitter-bootstrap' %>

<div class="well page-actions">
  <%= link_to(t('ecm.news.views.actions.back'), root_path, class: 'btn btn-default') %>
</div>
