<% content_for :meta_description, I18n.t('ecm.news.news') %>
<% content_for :title, I18n.t('ecm.news.news') %>
<h1><%= I18n.t('ecm.news.news') %></h1>

<%= render :partial => 'item_in_list', :collection => @items, :as => :item %>

<%= paginate @items, :theme => 'twitter-bootstrap' %>

